<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Assessment</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

    <style>
        /*==========================
        KPIs LANDING
        ==========================*/

        .kpi-section{
            background:#f8fafc;
            padding:70px 0;
        }

        .kpi-card{
            background:#fff;
            border-top:4px solid transparent;
            border-radius:18px;
            padding:35px 20px;
            height:100%;
            transition: transform .35s ease, box-shadow .35s ease;
            border:1px solid #e5e7eb;
            box-shadow:0 10px 30px rgba(0,0,0,.05);
        }

        .kpi-card:hover{
            border-top:4px solid #8B5E3C;
            transform:translateY(-12px) scale(1.03);

            box-shadow:
                0 20px 40px rgba(0,0,0,.20),
                0 45px 90px rgba(0,0,0,.25);
        }

        .kpi-card i{
            font-size:42px;
             
            margin-bottom:18px;
        }

        .kpi-card h2{
            font-size:42px;
            font-weight:700;
            margin-bottom:8px;
            color:#1F2937;
        }

        .kpi-card p{
            margin:0;
            font-size:16px;
            color:#6B7280;
            font-weight:500;
        }
        .kpi-blue{
            color:#4c94d6;
        }

        .kpi-green{
            color:#6E8060;
        }

        .kpi-brown{
            color:#8B5E3C;
        }

        .kpi-steel{
            color:#8d0c77;
        }

        .kpi-dark{
            color:#374151;
        }
        .btn-plan {
            cursor: pointer;
        }
    </style>
     
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">

        <!-- LOGO -->
        <a class="navbar-brand fw-bold" href="#">TeacherAssessment</a>

        <!-- BOTÓN MOBILE -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLanding">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- CONTENIDO -->
        <div class="collapse navbar-collapse" id="navbarLanding">

            <!-- MENÚ CENTRADO -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link px-3" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#comofunciona">Cómo funciona</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#">Consultas</a></li>
                 <li class="nav-item"><a class="nav-link px-3" href="/contactos">Contactos</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="/ayuda">Ayuda</a></li>
                
            </ul>

            <!-- DERECHA -->
            <div class="d-flex align-items-center gap-2">

                {% if session.get('usuario') %}

                    <span class="text-white small">
                        {{ session['usuario'] }} ({{ session['rol'] }})
                    </span>

                    {% if session['rol'] in ['admin', 'profesor','root'] %}

                        <a href="#" class="btn btn-success btn-sm" onclick="entrarProcesos(event)">
                            Procesos
                        </a>

                    {% endif %}

                    <a href="/logout" class="btn btn-outline-light btn-sm">Salir</a>

                {% else %}

                    <a href="/ingresar_codigo" class="btn btn-success btn-sm">Ingresar código</a>
                    <div class="dropdown">

                        <button class="btn btn-outline-light btn-sm dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Login
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="/login">
                                    👨‍🏫 Usuario
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/login_alumno">
                                    🎓 Alumno
                                </a>
                            </li>
                        </ul>
                    </div>  
                {% endif %}

            </div>

        </div>
    </div>
</nav>


<!-- HERO -->
<section class="hero d-flex align-items-center justify-content-center text-center">

    <div class="brand-overlay text-center">
        ACAASO TeacherAssessment
    </div>
    <div class="hero-content">
        <div style="text-align: center; margin-bottom: 10px;">
            <span style="
                background: rgba(0,0,0,0.6);
                color: white;
                padding: 4px 12px;
                border-radius: 10px;
                font-size: 13px;
            ">
                Version: {{ version }}
            </span>
        </div>
        <h1>Evalúa. Analiza. Mejora.</h1>
        <p>Plataforma inteligente de evaluación docente</p>
        <br>
        <!--<a href="/register" class="btn btn-primary">Crear cuenta</a>
        <a href="#" class="btn btn-light">Ingresar</a>-->
    </div>
</section>
<!--seccion de kpis-->
<section class="kpi-section">
    <div class="container">
        <div class="row g-4 text-center">

            <div class="col-6 col-lg">
                <div class="kpi-card">
                    <i class="fas fa-file-alt kpi-blue"></i>
                    <h2 id="kpi-quizzes">{{ "{:,}".format(total_quizzes) }}</h2>
                     
                    <p>Quizzes creados</p>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="kpi-card">
                    <i class="fas fa-check-circle kpi-green"></i>
                    <h2 id="kpi-respuestas">{{ "{:,}".format(total_respuestas) }}</h2></h2>
                    <p>Evaluaciones respondidas</p>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="kpi-card">
                    <i class="fas fa-chalkboard-teacher kpi-brown"></i>
                    <h2 id="kpi-profesores">{{ "{:,}".format(total_profesores) }}</h2></h2>
                    <p>Profesores</p>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="kpi-card">
                    <i class="fas fa-user-graduate kpi-steel"></i>
                    <h2 id="kpi-alumnos">{{ "{:,}".format(total_alumnos) }}</h2></h2>
                    <p>Alumnos</p>
                </div>
            </div>

            <div class="col-12 col-lg">
                <div class="kpi-card">
                    <i class="fas fa-building"></i>
                    <h2 id="kpi-empresas">{{ "{:,}".format(total_empresas) }}</h2></h2>
                    <p>Instituciones</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="planes-section">

    <div class="container text-center">

        <h2 class="titulo-planes">Planes</h2>
        <p class="subtitulo">Elige el plan que mejor se adapte</p>

        <!-- ===================================================== -->
        <!-- NIVEL 1: PERSONAL / INSTITUCIONAL -->
        <!-- ===================================================== -->

        <ul class="nav nav-pills justify-content-center mb-4"
            id="tabsPlanes">

            <li class="nav-item">
                <button class="nav-link active"
                        data-bs-toggle="pill"
                        data-bs-target="#individual">
                    Personal
                </button>
            </li>

            <li class="nav-item">
                <button class="nav-link"
                        data-bs-toggle="pill"
                        data-bs-target="#empresarial">
                    Institucional
                </button>
            </li>

        </ul>


        <div class="tab-content">


            <!-- ================================================= -->
            <!-- PERSONAL -->
            <!-- ================================================= -->

            <div class="tab-pane fade show active"
                 id="individual">

                <!-- NIVEL 2 -->
                <ul class="nav nav-pills justify-content-center mb-4"
                    id="tabsPersonal">

                    <li class="nav-item">
                        <button class="nav-link active"
                                data-bs-toggle="pill"
                                data-bs-target="#starter">
                            Starter
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-link"
                                data-bs-toggle="pill"
                                data-bs-target="#docente">
                            Docente
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-link"
                                data-bs-toggle="pill"
                                data-bs-target="#centro">
                            Centro
                        </button>
                    </li>

                </ul>


                <!-- CONTENIDO PERSONAL -->

                <div class="tab-content">


                    <!-- ========================================= -->
                    <!-- STARTER -->
                    <!-- ========================================= -->

                    <div class="tab-pane fade show active"
                         id="starter">

                        <div class="d-flex justify-content-center gap-3 flex-nowrap pb-3">

                            {% for p in planes_individual %}
                                {% if p[1] == 'Starter' %}

                                <div class="plan-card flex-shrink-0"
                                     style="width: 300px;">

                                    <h4>{{ p[1] }}</h4>

                                    <div class="precioplan">

                                        <h6>S/.</h6>

                                        <h2>{{ p[2] }}</h2>

                                        <h6>
                                            {% if p[7] == 'SEMANAL' %}
                                                por una semana
                                            {% elif p[7] == 'MENSUAL' %}
                                                por mes
                                            {% elif p[7] == 'TRIMESTRAL' %}
                                                por trimestre
                                            {% elif p[7] == 'SEMESTRAL' %}
                                                por semestre
                                            {% elif p[7] == 'ANUAL' %}
                                                por año
                                            {% endif %}
                                        </h6>

                                    </div>

                                    <ul>

                                        <li>✔ {{ p[3] }} admin</li>

                                        <li>✔ {{ p[4] }} profesores</li>

                                        <li>✔ {{ p[5] }} alumnos</li>

                                        <li>✔ {{ p[6] }} quizzes</li>

                                    </ul>

                                    <button class="btn-plan"
                                            data-plan-id="{{ p[0] }}"
                                            style="cursor: pointer !important;">
                                        Elegir
                                    </button>

                                </div>

                                {% endif %}
                            {% endfor %}

                        </div>

                    </div>


                    <!-- ========================================= -->
                    <!-- DOCENTE -->
                    <!-- ========================================= -->

                    <div class="tab-pane fade"
                         id="docente">

                        <div class="d-flex justify-content-center gap-3 flex-nowrap pb-3">

                            {% for p in planes_individual %}
                                {% if p[1] == 'Docente' %}

                                <div class="plan-card flex-shrink-0"
                                     style="width: 300px;">

                                    <h4>{{ p[1] }}</h4>

                                    <div class="precioplan">

                                        <h6>S/.</h6>

                                        <h2>{{ p[2] }}</h2>

                                        <h6>
                                            {% if p[7] == 'MENSUAL' %}
                                                por mes
                                            {% elif p[7] == 'TRIMESTRAL' %}
                                                por trimestre
                                            {% elif p[7] == 'SEMESTRAL' %}
                                                por semestre
                                            {% elif p[7] == 'ANUAL' %}
                                                por año
                                            {% endif %}
                                        </h6>

                                    </div>

                                    <ul>

                                        <li>✔ {{ p[3] }} admin</li>

                                        <li>✔ {{ p[4] }} profesores</li>

                                        <li>✔ {{ p[5] }} alumnos</li>

                                        <li>✔ {{ p[6] }} quizzes</li>

                                    </ul>

                                    <button class="btn-plan"
                                            data-plan-id="{{ p[0] }}">
                                        Elegir
                                    </button>

                                </div>

                                {% endif %}
                            {% endfor %}

                        </div>

                    </div>


                    <!-- ========================================= -->
                    <!-- CENTRO -->
                    <!-- ========================================= -->

                    <div class="tab-pane fade"
                         id="centro">

                        <div class="d-flex justify-content-center gap-3 flex-nowrap pb-3">

                            {% for p in planes_individual %}
                                {% if p[1] == 'Centro' %}

                                <div class="plan-card flex-shrink-0"
                                     style="width: 300px;">

                                    <h4>{{ p[1] }}</h4>

                                    <div class="precioplan">

                                        <h6>S/.</h6>

                                        <h2>{{ p[2] }}</h2>

                                        <h6>
                                            {% if p[7] == 'MENSUAL' %}
                                                por mes
                                            {% elif p[7] == 'TRIMESTRAL' %}
                                                por trimestre
                                            {% elif p[7] == 'SEMESTRAL' %}
                                                por semestre
                                            {% elif p[7] == 'ANUAL' %}
                                                por año
                                            {% endif %}
                                        </h6>

                                    </div>

                                    <ul>

                                        <li>✔ {{ p[3] }} admin</li>

                                        <li>✔ {{ p[4] }} profesores</li>

                                        <li>✔ {{ p[5] }} alumnos</li>

                                        <li>✔ {{ p[6] }} quizzes</li>

                                    </ul>

                                    <button class="btn-plan"
                                            data-plan-id="{{ p[0] }}">
                                        Elegir
                                    </button>

                                </div>

                                {% endif %}
                            {% endfor %}

                        </div>

                    </div>

                </div>

            </div>


            <!-- ================================================= -->
            <!-- INSTITUCIONAL -->
            <!-- ================================================= -->

            <div class="tab-pane fade"
                 id="empresarial">

                <!-- NIVEL 2 -->
                <ul class="nav nav-pills justify-content-center mb-4">

                    <li class="nav-item">
                        <button class="nav-link active"
                                data-bs-toggle="pill"
                                data-bs-target="#corporativo">
                            Corporativo
                        </button>
                    </li>

                </ul>


                <div class="tab-content">

                    <!-- ========================================= -->
                    <!-- CORPORATIVO -->
                    <!-- ========================================= -->

                    <div class="tab-pane fade show active"
                         id="corporativo">

                        <div class="d-flex justify-content-center gap-3 flex-nowrap pb-3">

                            {% for p in planes_empresarial %}
                                {% if p[1] == 'Corporativo' %}

                                <div class="plan-card flex-shrink-0"
                                     style="width: 300px;">

                                    <h4>{{ p[1] }}</h4>

                                    <div class="precioplan">

                                        <h6>S/.</h6>

                                        <h2>{{ p[2] }}</h2>

                                        <h6>
                                            {% if p[7] == 'SEMANAL' %}
                                                Por una semana
                                            {% elif p[7] == 'MENSUAL' %}
                                                Por mes
                                            {% elif p[7] == 'TRIMESTRAL' %}
                                                Por trimestre
                                            {% elif p[7] == 'SEMESTRAL' %}
                                                Por semestre
                                            {% elif p[7] == 'ANUAL' %}
                                                Por año
                                            {% endif %}
                                        </h6>

                                    </div>

                                    <ul>

                                        <li>✔ {{ p[3] }} admin</li>

                                        <li>
                                            ✔
                                            {% if p[4] == 999999 %}
                                                Profesores ilimitados
                                            {% else %}
                                                Hasta {{ p[4] }} profesores
                                            {% endif %}
                                        </li>

                                        <li>
                                            ✔
                                            {% if p[5] == 999999 %}
                                                Alumnos ilimitados
                                            {% else %}
                                                Hasta {{ p[5] }} alumnos
                                            {% endif %}
                                        </li>

                                        <li>
                                            ✔
                                            {% if p[6] == 999999 %}
                                                Quizzes ilimitados
                                            {% else %}
                                                Hasta {{ p[6] }} quizzes
                                            {% endif %}
                                        </li>

                                    </ul>

                                    <button class="btn-plan"
                                            data-plan-id="{{ p[0] }}">
                                        Elegir
                                    </button>

                                </div>

                                {% endif %}
                            {% endfor %}

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
 

<section class="steps container">
    <h2 class="text-center mb-5" id="comofunciona">¿Cómo funciona?</h2>

    <!-- Paso 1 -->
    <div class="row align-items-center mb-5 step-row">
        <div class="col-md-6">
            <div class="step p-4">
                <h3>1. Profesor crea  Quiz</h3>
                <p>Diseña preguntas fácilmente o usa IA</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/img/creandoquizzes.png" class="step-img">
        </div>
    </div>

     <!-- Paso 2 -->
    <div class="row align-items-center mb-5 step-row flex-md-row-reverse">
        <div class="col-md-6">
            <div class="step p-4">
                <h3>2.Manualmente o usando IA</h3>
                <p>Opción Múltiple o de Verdadero y Falso 
                     Usando prompt, desde archivo, 
                     quiz en texto o desde imagen
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/img/opcionm y vf.png" class="step-img">
        </div>
    </div>

     

    <!-- Paso 3 -->
    <div class="row align-items-center step-row"> 
        <div class="col-md-6">
            <div class="step p-4">
                <h3>3. Sistema Comparte Código a los alumnos</h3>
                <p>Los alumnos ingresan rápidamente</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/img/recibiendoquiz.png" class="step-img">
        </div>
    </div>

    <!-- Paso 3 -->
     <div class="row align-items-center mb-5 step-row flex-md-row-reverse">
        <div class="col-md-6">
            <div class="step p-4">
                <h3>4. Alumnos resuelven su quiz desde diferentes dispositivos </h3>
                <p>Los alumnos pueden usar PC, laptop, IPad o smartphone.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
             <img src="static/img/dando examen2.png" class="step-img">
        </div>
    </div>
    
     <div class="row align-items-center step-row"> 
        <div class="col-md-6">
            <div class="step p-4">
                <h3>5. Sistema envía nota y Solución al Alumno</h3>
                <p>Los alumnos reciben su nota al segudo de terminar el quiz y su solucionario por correo.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/img/RecibiendoSolucion.png" class="step-img">
        </div>
    </div>


    <!-- Paso 6 -->
     <div class="row align-items-center mb-5 step-row flex-md-row-reverse">
        <div class="col-md-6">
            <div class="step p-4">
                <h3>6. Profesor Analiza resultados</h3>
                <p>Visualiza métricas en tiempo real. Con los gráfios analizados puede decidir que tipo de quiz hacer</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="static/img/analizandoquiz.png" class="step-img">
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer style="background-color:#1f2937; color:white; padding:40px 0;">
  <div style="display:flex; justify-content:space-around; flex-wrap:wrap; max-width:1200px; margin:auto;">

    <!-- Columna 1 -->
    <div style="flex:1; min-width:250px; margin:10px;">
      <h3>TeacherAssessment</h3>
      <p>Plataforma inteligente para crear, compartir y analizar evaluaciones en tiempo real.</p>
      <img src="{{ url_for('static', filename='img/footer_explicacion.png') }}" alt="Explicación" style="width:100%; max-width:200px; margin-top:10px;">
       
    </div>

    <!-- Columna 2 -->
    <div style="flex:1; min-width:200px; margin:10px;">
      <h4>Enlaces</h4>
      <ul style="list-style:none; padding:0;">
        <li><a href="#" style="color:#9ca3af; text-decoration:none;">Home</a></li>
        <li><a href="#como-funciona" style="color:#9ca3af; text-decoration:none;">Cómo funciona</a></li>
        <li><a href="#" style="color:#9ca3af; text-decoration:none;">Consultas</a></li>
        <li><a href="/contactos" style="color:#9ca3af; text-decoration:none;">Contactos</a></li>
        <li><a href="/ayuda" style="color:#9ca3af; text-decoration:none;">Ayuda</a></li>
      </ul>
    </div>

    <!-- Columna 3 -->
    <div style="flex:1; min-width:200px; margin:10px;">
      <h4>Contacto</h4>
      <p>Email: pardoalf@gmail.com</p>
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp        pardoalf@acaaso.com</p>
      <p>Alfredo Pardón La Rosa - ACAASO </p>
      <p>Tel: +51 9 5360 5116</p>

      <div style="margin-top:10px;">
        <a href="#" style="margin-right:10px; color:white;"><i class="fab fa-linkedin"></i></a>
        <a href="#" style="margin-right:10px; color:white;"><i class="fab fa-twitter"></i></a>
        <a href="#" style="margin-right:10px; color:white;"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
    



  </div>

  <div style="text-align:center; margin-top:30px; border-top:1px solid #374151; padding-top:15px; color:#9ca3af;">
    © 2026 TeacherAssessment - Todos los derechos reservados
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", () => {

    const observer = new IntersectionObserver((entries) => {

        entries.forEach(entry => {

            if (!entry.isIntersecting) return;

            document.querySelectorAll(".kpi-card h2").forEach(el => {

                const texto = el.textContent.trim();
                console.log(texto);

                const finalValue = parseInt(texto.replace(/,/g,''),10);

                let current = 0;
                const increment = Math.max(1, Math.ceil(finalValue / 80));

                const timer = setInterval(() => {

                    current += increment;

                    if(current >= finalValue){
                        current = finalValue;
                        clearInterval(timer);
                    }

                    el.textContent = current.toLocaleString();

                },20);

            });

            observer.disconnect();

        });

    }, { threshold:0.35 });

    observer.observe(document.querySelector(".kpi-section"));

});

 
document.addEventListener("DOMContentLoaded", function () {

    // ==========================================
    // BOTONES DE PLANES
    // ==========================================

    const botonesPlan = document.querySelectorAll(".btn-plan");

    console.log("BOTONES DE PLAN ENCONTRADOS:", botonesPlan.length);

    botonesPlan.forEach(function (boton) {

        boton.style.cursor = "pointer";

        boton.addEventListener("click", function () {

            const planId = this.dataset.planId;

            console.log("PLAN SELECCIONADO:", planId);

            window.location.href = "/login?plan_id=" + planId; 
            /*alert("Elegiste el plan ID: " + planId);*/

        });

    });

});

 
function entrarProcesos(event) {

    event.preventDefault();

    const licenciaActiva = {{ 'true' if session.get('licencia_activa') else 'false' }};

    if (licenciaActiva) {

        window.location.href = "/splash";
        return;
    }

    const modal = new bootstrap.Modal(
        document.getElementById("modalSinLicencia")
    );

    modal.show();
}
 
</script>
<div class="modal fade" id="modalSinLicencia" tabindex="-1" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    🔒 Acceso no disponible
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">

                <p>
                    <strong>{{ session['usuario'] }}</strong>,
                    actualmente no puede acceder a
                    <strong>Procesos</strong>.
                </p>

                <p>
                    Su empresa no cuenta con una licencia activa
                    para utilizar ACAASO Teacher Assessment.
                </p>

                <p class="mb-0">
                    La licencia puede no estar activada,
                    encontrarse vencida o estar inactiva.
                    Por favor, comuníquese con su administrador
                    para activar o generar una licencia.
                </p>

            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Entendido
                </button>

            </div>

        </div>

    </div>
</div>
</body>
</html>